.side-bar{
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(128, 128, 128, 0.382);
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 72px;
  background-color: white;
  z-index: 111;
  padding-top: 5px;
}
.sidebar-link{
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-link:hover{
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-family: roboto, arial;
  font-size: 10px;
  font-weight: 500;
}